# Pandas Tutorial #

In [14]:
import pandas as pd
import numpy as np

In [17]:
n = np.random.randn(5)
index = ['a', 'b', 'c', 'd', 'e']
s2 = pd.Series(n, index=index)
s2

a    0.578465
b   -0.909595
c    0.136186
d   -1.025360
e   -0.079324
dtype: float64

In [23]:
# slicing
s2 = s2[:3]
s2

# Series Operations
arr1 = [0, 1, 2,3, 4, 5,7]
arr2 = [6, 7, 8, 9, 5]

s5 = pd.Series(arr2)
s6 = pd.Series(arr1)

s5.add(s6)

0     6.0
1     8.0
2    10.0
3    12.0
4     9.0
5     NaN
6     NaN
dtype: float64

In [51]:
# Dataframe
dates = pd.date_range('today', periods = 6) # define time sequence as index
numm_arr = np.random.randn(6, 4) # import numpy random array 6 rows 4 columns
columns = ['A', 'B', 'C', 'D'] # use the table as the column name

df1 = pd.DataFrame(numm_arr, index=dates, columns=columns)
df1.head()

df1.index
# gets list of the indexes

df1.columns
# gets list of the column names

df1.values 
# converts back to array pretty much


df1.describe()

# transposing flips the columns and indices
df1.T

# sorting also workks
df1.sort_values(by='A')

#slicing the dataframe or use df1.iloc[1:3]
df1[1:3]

# query by column name
df1[['A', 'C']]

# copying
df3 = df1.copy()
df3

# returns boolean dataframe with true in any spot with null inside, false in any spot without null values
df3.isnull()

# uses the variables on the left
df3.loc['2021-02-11 13:40:15.090654', 'A'] = 1.5
df3 
# this is changing the actual dataframe value at that index of the 2d array frame

# for missing values in dataframes
df4 = df3.copy()
df4.fillna(4)
df4['D'].fillna(5)
df4
# fills in any NaN's with the value inside the function call

# to drop any row that has missing data in it
df5 = df4.copy()
df5 = df5.dropna(how='any')
df5

                                   A         B         C         D
2021-02-06 13:48:05.917232 -0.115591  0.337109  1.398111 -0.746825
2021-02-07 13:48:05.917232 -1.642177 -0.572493 -0.884783 -0.584389
2021-02-08 13:48:05.917232  0.806030  0.259128  0.061607  0.099424
2021-02-09 13:48:05.917232 -1.480163 -0.498795  0.280281 -0.841164
2021-02-10 13:48:05.917232 -0.090154 -0.321470  0.038677  0.063516
2021-02-11 13:48:05.917232 -0.635440  0.760021  0.673840  1.208604